<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	<link href="frontend/css/libraries/bootstrap.min.css?v=<?= Config::$BUILD_VERSION ?>" rel="stylesheet">
	<link href="frontend/css/libraries/bootstrap-theme.min.css?v=<?= Config::$BUILD_VERSION ?>" rel="stylesheet">
	<link href="frontend/css/style.css?v=<?= Config::$BUILD_VERSION ?>" rel="stylesheet">
	<link href="frontend/css/pageNotFound.css?v=<?= Config::$BUILD_VERSION ?>" rel="stylesheet">

	<script type="text/javascript" src="frontend/js/libraries/jquery.min.js?v=<?= Config::$BUILD_VERSION ?>"></script>
	<script type="text/javascript" src="frontend/js/libraries/bootstrap.min.js?v=<?= Config::$BUILD_VERSION ?>"></script>
	<script type="text/javascript" src="frontend/js/pageNotFound.js?v=<?= Config::$BUILD_VERSION ?>"></script>


	<title></title>
</head>

<body>

	<div class="container">

		<h1>Page not found</h1>

	</div>

</body>

</html>